<!DOCTYPE html>
<html>
<head>
  <title>欢迎使用在线求职系统</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="mark@wosai-inc.com">
  <link href="http://wosaimg.com/css/lib/bootstrap/2.3.2/bootstrap.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3>
        {{companyName}}
      </h3>
      <div class="tabbable" id="tabs-466934">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="/company/index" data-toggle="tab">新建职位</a>
          </li>
          <li>
            <a href="/company/position" data-toggle="tab">已发布职位</a>
          </li>
          <li>
            <a href="/company/seeker" data-toggle="tab">查看应聘者</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <p>
            <form action="/position" method="post">
              <fieldset>
                <legend>新建职位</legend>
                <label>职位名称</label>
                <input type="text" name="name" />
                <label>职位类型</label>
                <input type="text" name="type" />
                <label>学历要求</label>
                <input type="text" name="education" />
                <label>薪资范围</label>
                <input type="text" name="payment" />
                <label>职位描述</label>
                <textarea name="description"></textarea>
                <label>技能需求</label>
                <textarea name="skills"></textarea>
                <span class="help-block">请确认以上信息无误，点击提交注册公司</span>
                <button type="submit" class="btn">提交</button>
              </fieldset>
            </form>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>